.loginsignup{
    width: 100%;
    height: 80vh;
    background-color: #fce3fe;
    padding-top: 50px;
}
.loginsignup-container{
    width: 400px;
    height: 90%;
    margin: auto;
    background-color: white;
    /* border-radius: 20px; */
}
.loginsignup-container h1{
    text-align: left;
    padding: 30px 0px 0px 50px;
    /* margin-top: 20px; */
}
.loginsignup-fields{
    width: 80%;
    padding: 10px;
    display: flex;
    flex-direction: column;
    margin: 10px auto;
    gap: 30px;
}
.loginsignup-fields input{
    padding: 10px;
    border: 1px solid #c9c9c9;
    outline: none;
}
.loginsignup-fields button{
    padding: 10px;
    cursor: pointer;
    width: 100%;
    background-color: orange;
    color: white;
    border: none;
    font-size: 18px;
}
.loginsingup-login{
    color: black;
    margin-top: 10px;
    font-size: 14px;
    text-align: left;
    padding-left: 50px;
}
.loginsingup-login span{
    color: orange;
    font-weight: 600;
    cursor: pointer;
}
.loginsignup-agree{
    display: flex;
    align-items: center;
    gap: 10px;
    margin: 20px 0 0 50px;
    font-size: 12px;
}